html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0c0e12; 
  color-scheme: dark; 
}

/* Разрешаем вертикальную прокрутку на уровне всей страницы Windows */
html, body {
  min-height: 100vh;
  overflow-y: auto; 
}